/* Resetting default browser styles */
:root {
  font-family: 'Pacifico', 'Ubuntu', sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent unwanted scrollbars */
  font-family: 'Ubuntu', sans-serif;
  cursor: default;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgb(24, 24, 24);
  color: rgba(255, 255, 255, 0.87);
}
